
<div class=maincontainer>
  <h1>Stupid Coaching</h1>
  <h3>Ask your coach anything</h3>
  <form action="/answer" method="get" class="firstform">
    <input type="text" name="question" placeholder="what's your question ?">
    <input type="submit" value="Ask!" id="cta">
  </form>
</div>

